<!--
InteractiveAim LLC all right reserved
-->	
<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="web agency, javascript, " />
    <meta name="keywords" content="Interactive Aim, Alex Shilman, full stack developer" />
    <meta name="author" content="InteractiveAimLLC" />
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
